body{
    font-family: "montserrat";
    background-color:#EFEFEF;
    margin-left: 5%;
    margin-right: 5%;
}
h1{
    margin-left: 85px;
    font-size: 39px;  
}
hr{
    margin-left: 3%;
    margin-right: 3%;
    opacity: 30px;
}
p{
    text-indent: 1.5rem;
    text-align: justify;
    margin-left: 60px;
    margin-right: 60px;
}
li{
    font-size: 30px;
    margin-left: 10px;
}
p{
    text-align: left;
    font-size: 10px;
    margin-top:32px ;
    margin-bottom: 10px;
    font-size: 15px;
}
.corpo_tabela{
    font-size: 40px;
    padding: 10px; 
    margin-left: 70px; 
    margin-right: 75%; 
    border: 1px solid; 
    text-align: left;
}
.cabecalho_tabela{
    font-size: 30px;
    padding: 10px;
    margin-top: 40px;
    text-align: center; 
    margin-left: 70px; 
    margin-right: 75%; 
    border: 1px solid;  
    background-color: #70C3FF;
}
.logo_wikipedia{
    margin-left: 30px;
    margin-top: 30px;
}
.fundo_branco{
    background-color: white;
    padding-bottom: 5%;
    padding-top: 0.2%;
    margin-top: 1%;
}
