body{
    background-color: gray;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 90px;
}
.logoWiki{
    width: 50px;
}
.configurate{
    font-family: "Montserrat";
}
.margin_index{
    margin-left: 10%;
    margin-right: 10%;
}
.title{
    margin-left: 500px;
    margin-right:500px;
}
.linetitle{
    width: 60px;
}
.index_topic{
    width: Hug (1,318px)px;
    height: Hug (854px)px;
    top: 929.08px;
    left: 58px;
    gap: 59px;
}
.title_p2p3{
    font-style: italic;
}
.title_box{
    font-style: oblique;
    background-color: cornflowerblue;
}
.body_box{
    font-style: normal;
}
.whitepage{
    background-color: aliceblue;
    margin-right: 10%;
    margin-left: 10%;
}
.box{
    width: 190px;
    height: 190px;
    margin-left: 20px;
    margin-top: 10px;
    border: 0.5px solid black;
}
.text{
    font-size: small;
}
br{
    width: 10px;
    height: 10px;
}
.table_topic{
    font-size: smaller;
}
.topic1{
    font-style: oblique;
}
.topic2{
    font-style: italic ;
}
.see more{
    font-size: medium ;
}
.hr_see_more{
    margin-left: 70%;
    margin-right: 70%;
}
