body{
    background-color: gray;
    margin-left: 50px;
    margin-right: 50px;
}
.configurate{
    font-family: "Montserrat";
}
.title{
    margin-left: 700px;
    margin-right:700px;
}
.linetitle{
    width: 60px;
}
.sumary{
    font-size: small;
}
.title_p2p3{
    font-style: italic;
}
.title_box{
    font-style: oblique;
    background-color: cornflowerblue;
}
.body_box{
    font-style: normal;
}
.whitepage{
    background-color: aliceblue;
}
.box{
    border
}